[Unit]
Description=Symlinks config files for the current Chromebook on boot.

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=chromebook-audio
ExecStartPost=systemd-sysext merge

[Install]
WantedBy=multi-user.target
