[Unit]
Description=Enables audio systemd-sysext overlays for the current Chromebook
# Before=systemd-sysext.service

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=chromebook-audio

[Install]
WantedBy=default.target
